* {
  --main-color: #ff7962;
  --secondary-color: #ffe5da;
  --brown-color: #9c5d51;
  --blue-color: #00525c;
}

@font-face {
  font-family: merit;
  src: url("./fonts/merit4.ttf");
}

@font-face {
  font-family: ice;
  src: url("./fonts/IceCaps.ttf");
}

nav {
  background-color: var(--main-color);
}

.nav-link {
  font-family: ice;
}

.brand {
  font-weight: 500;
  font-family: ice;
}

.heroPage {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.freezingPoint {
  text-align: center;
  font-family: ice;
}

.mainLogo {
  text-align: center;
  font-family: merit;
  color: var(--main-color);
  -webkit-text-stroke: 3px black;
}

.servicesOffered {
  background-color: var(--brown-color);
  color: var(--secondary-color);
  width: fit-content;
  border-radius: 0.5rem;
}

.checks > div {
  /* text-align: center; */
  color: #00525c;
}

.soText {
  font-weight: 400;
}

.section1 {
  background-color: var(--blue-color);
  height: 50vh;
  color: var(--secondary-color);
  display: flex;
  justify-content: start;
  align-items: center;
}

.section2 {
  background-color: var(--brown-color);
  height: 50vh;
  color: var(--secondary-color);
  display: flex;
  justify-content: end;
  align-items: center;
}

.section3 {
  background-color: var(--main-color);
  height: 50vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-block {
  margin-left: auto;
  margin-right: auto;
}

.storePic {
  max-height: 80vh;
  width: auto;
}

.section4 {
  background-color: var(--blue-color);
}

.img-thumbnail {
  background-color: var(--secondary-color);
}

.section4Title {
  color: var(--secondary-color);
}

@font-face {
  font-family: logo;
  src: url("./fonts/Social_Shapes.ttf");
}

.facebook,
.messenger {
  font-family: logo;
}

.contacts {
  display: flex;
  justify-content: start;
  align-items: center;
}

.section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.floating {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.btn-float {
  color: var(--blue-color);
  background-color: var(--main-color);
}

.btn-blue {
  color: var(--blue-color);
  font-size: 4rem;
}
