* {
  --main-color: #ff7962;
  --secondary-color: #ffe5da;
  --brown-color: #9c5d51;
  --blue-color: #00525c;
}

.heroPage {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@font-face {
  font-family: merit;
  src: url("./fonts/merit4.ttf");
}

.freezingPoint {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.mainLogo {
  text-align: center;
  font-family: merit;
  color: var(--main-color);
  -webkit-text-stroke: 3px black;
}

.servicesOffered {
  background-color: var(--brown-color);
  color: var(--secondary-color);
  width: fit-content;
  border-radius: 0.5rem;
}

.soText {
  font-weight: 400;
}

.section1 {
  background-color: var(--blue-color);
}
