@font-face {
  font-family: merit;
  src: url("../fonts/merit4.ttf");
}
@font-face {
  font-family: ice;
  src: url("../fonts/IceCaps.ttf");
}
@font-face {
  font-family: logo;
  src: url("../fonts/Social_Shapes.ttf");
}
main {
  background-color: #fcfcd4;
}

nav {
  background-color: #00c59d;
}
@media (min-width: 992px) {
  .imageHero {
    width: 40rem;
  }
  .heroPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section1Text {
    text-align: end;
  }
}
.heroPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  min-height: 100vh;
  max-height: 100vh;
  background-image: linear-gradient(to bottom, #00c59d 0%, #00c59d 25%, #fcfcd4 25%, #fcfcd4 100%);
}
.heroPage .imageHero {
  height: auto;
  max-width: 80vw;
  flex-shrink: 2;
  align-self: flex-end;
}
.heroPage .heroTexts {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.heroPage .heroTexts .subtext {
  font-size: 0.7rem;
  color: #00c59d;
}
.heroPage .heroTexts .freezingPoint {
  text-align: center;
  color: black;
  align-self: flex-start;
}
.heroPage .heroTexts .book {
  background-color: #00c59d;
  padding: 0.5rem;
  border-radius: 0.6rem;
  text-decoration: none;
  color: black;
  border: 1px solid #fcfcd4;
  align-self: flex-start;
  width: 10rem;
  text-align: center;
}
.heroPage .heroTexts .book:hover {
  background-color: #9ee9f2;
}
.heroPage .heroTexts .abtUs {
  width: 10rem;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 0.3rem;
  height: 4rem;
  border: 2px solid #00c59d;
  align-self: flex-start;
  border-radius: 0.6rem;
}

.section1Bg {
  background-image: repeating-linear-gradient(45deg, transparent, rgba(158, 234, 242, 0.7411764706), #9ee9f2 10rem);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black, black, black, transparent);
          mask-image: linear-gradient(to bottom, transparent, black, black, black, transparent);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1Bg .section1 {
  color: #00c59d;
  display: flex;
  justify-content: start;
  align-items: center;
}
.section1Bg .section1Text {
  font-style: oblique;
  text-align: center;
  color: black;
}
.section1Bg .map {
  border-radius: 0.6rem;
}

.section2 {
  background-color: #fcfcd4;
  min-height: 50vh;
  color: #00c59d;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
.section2 .section3Text {
  position: absolute;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  z-index: 1;
}
@keyframes scroll {
  0% {
    transform: translateX();
  }
  100% {
    transform: translateX(-120rem);
  }
}
.section2 .slider {
  height: 50vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 2rem;
}
.section2 .slider img {
  height: 30vh;
  width: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.section2 .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.section2 .slider::before {
  left: 0;
  top: 0;
}
.section2 .slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240rem;
}
.section2 .slider .slide {
  height: 100px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section4 {
  background-color: #9ee9f2;
  height: -moz-fit-content;
  height: fit-content;
}
.section4 .d-block {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.section4 .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4 .img-thumbnail {
  background-color: #00c59d;
}
.section4 .section4Title {
  color: black;
}
.section4 .storePic {
  min-height: 40vh;
  width: 80vh;
}

.section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.section5 .facebook,
.section5 .messenger {
  font-family: logo;
}
.section5 .contacts {
  display: flex;
  justify-content: start;
  align-items: center;
}
.section5 .btn-blue {
  color: black;
  font-size: 4rem;
}

a {
  text-decoration: none;
}

.floating {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.floating .btn-float {
  font-family: logo;
  color: #00c59d;
}/*# sourceMappingURL=styles.css.map */