@font-face {
  font-family: merit;
  src: url("../fonts/merit4.ttf");
}
@font-face {
  font-family: ice;
  src: url("../fonts/IceCaps.ttf");
}
@font-face {
  font-family: logo;
  src: url("../fonts/Social_Shapes.ttf");
}
nav {
  background-color: #ff7962;
}
nav .nav-link {
  font-family: ice;
}
nav .brand {
  font-weight: 500;
  font-family: ice;
}

.heroPage {
  background-color: #ffe5da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.heroPage .freezingPoint {
  text-align: center;
  font-family: ice;
}
.heroPage .mainLogo {
  text-align: center;
  font-family: merit;
  color: #ff7962;
  -webkit-text-stroke: 3px black;
}
.heroPage .servicesOffered {
  background-color: #9c5d51;
  color: #ffe5da;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5rem;
}
.heroPage .checks > div {
  /* text-align: center; */
  color: #00525c;
}
.heroPage .soText {
  font-weight: 400;
}

.section1Bg {
  background-color: #00525c;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1Bg .section1 {
  color: #ffe5da;
  display: flex;
  justify-content: start;
  align-items: center;
}
.section1Bg .section1Text {
  font-style: oblique;
  text-align: end;
}

.section2 {
  background-color: #9c5d51;
  min-height: 50vh;
  color: #ffe5da;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
.section2 .section3Text {
  position: absolute;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  z-index: 1;
}
@keyframes scroll {
  0% {
    transform: translateX();
  }
  100% {
    transform: translateX(-120rem);
  }
}
.section2 .slider {
  background: #9c5d51;
  height: 50vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 2rem;
}
.section2 .slider::before, .section2 .slider::after {
  background: linear-gradient(to right, rgba(94, 57, 49, 0.262745098) 0%, rgba(255, 255, 255, 0) 10%);
  content: "";
  height: 50vh;
  position: absolute;
  width: 100vw;
  z-index: 2;
}
.section2 .slider img {
  height: 30vh;
  width: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.section2 .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.section2 .slider::before {
  left: 0;
  top: 0;
}
.section2 .slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240rem;
}
.section2 .slider .slide {
  height: 100px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3 {
  background-color: #ff7962;
  min-height: 50vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section3 .section3Pics {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  min-height: 50vh;
  display: flex;
}
.section3 .card {
  width: 15rem;
  background-color: #ffe5da;
  height: 20rem;
}
.section3 .card img {
  height: 10rem;
}

.section4 {
  background-color: #00525c;
}
.section4 .d-block {
  margin-left: auto;
  margin-right: auto;
}
.section4 .img-thumbnail {
  background-color: #ffe5da;
}
.section4 .section4Title {
  color: #ffe5da;
}
.section4 .storePic {
  max-height: 80vh;
  width: auto;
}

.section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.section5 .facebook,
.section5 .messenger {
  font-family: logo;
}
.section5 .contacts {
  display: flex;
  justify-content: start;
  align-items: center;
}
.section5 .btn-blue {
  color: #00525c;
  font-size: 4rem;
}

a {
  text-decoration: none;
}

.floating {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.floating .btn-float {
  color: #00525c;
  background-color: #ff7962;
  font-family: logo;
}/*# sourceMappingURL=styles.css.map */