$main-color: #ff7962;
$secondary-color: #ffe5da;
$brown-color: #9c5d51;
$blue-color: #00525c;

body {
  background-color: $secondary-color;
}

@font-face {
  font-family: merit;
  src: url("../fonts/merit4.ttf");
}

@font-face {
  font-family: ice;
  src: url("../fonts/IceCaps.ttf");
}

@font-face {
  font-family: logo;
  src: url("../fonts/Social_Shapes.ttf");
}

@media (min-width: 992px) {
  nav {
    background-color: $main-color;
    position: sticky;
    top: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    .navContainer {
      display: flex;
      flex-direction: column;
    }

    #navbarNavDropdown {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid $secondary-color;
    }
  }
}

nav {
  background-color: $main-color;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  .containBrand {
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    font-family: merit;
  }

  .nav-item {
    // background-color: $brown-color;
    border-radius: 0.2rem;
  }

  .brand {
    font-weight: 500;
    font-family: ice;
  }
}

.heroPage {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .freezingPoint {
    text-align: center;
    font-family: ice;
  }

  .mainLogo {
    text-align: center;
    font-family: merit;
    color: $main-color;
    -webkit-text-stroke: 3px black;
  }

  .servicesOffered {
    background-color: $brown-color;
    color: $secondary-color;
    width: fit-content;
    border-radius: 0.5rem;
  }

  .checks > div {
    /* text-align: center; */
    color: #00525c;
  }

  .soText {
    font-weight: 400;
  }
}

.section1Bg {
  background-color: $blue-color;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .section1 {
    color: $secondary-color;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .section1Text {
    font-style: oblique;
    text-align: end;
  }
}

.section2 {
  background-color: $brown-color;
  min-height: 50vh;
  color: $secondary-color;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;

  .section3Text {
    position: absolute;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    z-index: 1;
  }

  @mixin white-gradient {
    background: linear-gradient(
      to right,
      #5e393143 0%,

      rgba(255, 255, 255, 0) 10%
    );
  }

  $animationSpeed: 40s;

  // Animation
  @keyframes scroll {
    0% {
      transform: translateX();
    }
    100% {
      transform: translateX(calc(-20rem * 6));
    }
  }

  // Styling
  .slider {
    background: $brown-color;
    // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 50vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    // width: 100vw;
    display: flex;
    gap: 2rem;
    // align-items: center;

    &::before,
    &::after {
      @include white-gradient;
      content: "";
      height: 50vh;
      position: absolute;
      width: 100vw;
      z-index: 2;
    }

    img {
      height: 30vh;
      width: 10rem;
      margin-left: 5rem;
      margin-right: 5rem;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(20rem * 12);
    }

    .slide {
      height: 100px;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.section3 {
  background-color: $main-color;
  min-height: 50vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .section3Pics {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    // position: absolute;
    // left: 0;
    min-height: 50vh;
    display: flex;
  }
  .card {
    width: 15rem;
    background-color: $secondary-color;
    height: 20rem;

    img {
      height: 10rem;
    }
  }

  // .section3Text {
  //   z-index: 1;
  //   background-color: $secondary-color;
  // }
}

.section4 {
  background-color: $blue-color;

  .d-block {
    margin-left: auto;
    margin-right: auto;
  }

  .img-thumbnail {
    background-color: $secondary-color;
  }

  .section4Title {
    color: $secondary-color;
  }

  .storePic {
    max-height: 80vh;
    width: auto;
  }
}

.section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;

  .facebook,
  .messenger {
    font-family: logo;
  }

  .contacts {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .btn-blue {
    color: $blue-color;
    font-size: 4rem;
  }
}

a {
  text-decoration: none;
}

.floating {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .btn-float {
    color: $blue-color;
    background-color: $main-color;
    font-family: logo;
  }
}
